@font-face {
  src: url("./assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font: {
    family: "Roboto";
    weight: 400;
    style: normal;
    display: swap;
  }
}

@font-face {
  src: url("./assets/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font: {
    family: "Roboto";
    weight: 500;
    style: normal;
    display: swap;
  }
}

@font-face {
  src: url("./assets/fonts/Jost/Jost-SemiBold.ttf") format("truetype");
  font: {
    family: "Jost";
    weight: 600;
    style: normal;
    display: swap;
  }
}

@font-face {
  src: url("./assets/fonts/Jost/Jost-Medium.ttf") format("truetype");
  font: {
    family: "Jost";
    weight: 500;
    style: normal;
    display: swap;
  }
}

@font-face {
  src: url("./assets/fonts/Open_sans/OpenSans-SemiBold.ttf") format("truetype");
  font: {
    family: "Open sans";
    weight: 600;
    style: normal;
    display: swap;
  }
}
