.main {
  display: grid;
  grid-template-columns: 324px 1020px;
  justify-items: center;
  gap: 24px;
  margin: 0 auto;
  padding: 32px 36px 60px;
  inline-size: 100%;
  max-inline-size: 1440px;

  .filterContainer {
    inline-size: 100%;
  }

  .galleryContainer {
    inline-size: 100%;
  }
}
